<div class="container">
  <ul>
    <li>
      <input type="text" placeholder="class name" [formControl]="className">
      <input type="text" placeholder="class capacity" [formControl]="classCapacity">
      <input type="submit" value="Define Class" (click)="DefineClass()">
    </li>
    <li>
      <p>Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App
        Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App
        Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App
        Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App Some Demo About App
      </p>
    </li>
  </ul>

</div>

